[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
numpy = "*"
sqlalchemy = "*"
pylint = "*"
pydocstyle = "*"
pep8 = "*"
flake8 = "*"
pandas = "*"

[packages]
django = "*"
psycopg2-binary = "*"
libsass = "*"
django-compressor = "*"
django-sass-processor = "*"
django-redis = "*"

[requires]
python_version = "3.6"
