container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "kickstarter_project.settings"
    PYTHONPATH: "$PYTHONPATH"
    SECRET_KEY: "sn4rt8u&o0ex213h#e36po!io+rl*rob5nb1p_cgk9ke$x)004"
    DEBUG: "True"
    ALLOWED_HOSTS: "127.0.0.1 0.0.0.0 localhost kickstarter-projects-dev222.us-west-2.elasticbeanstalk.com kickstart-cache.jgfaqa.0001.usw2.cache.amazonaws.com:6379"
    REDIS_URL: "kickstart-cache.jgfaqa.0001.usw2.cache.amazonaws.com:6379"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "kickstarter_project/wsgi.py"
    StaticFiles: "/static/=static/"

packages:
  yum:
    postgresql96-devel: []
