option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "kickstarter_project.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "kickstarter_project/wsgi.py"
    StaticFiles: "/static/=static/"

packages:
  yum:
    postgresql96-devel: []

container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true

  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
